.Description{
    padding-top: 20px;
    height: 250px;
    color: rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Description-Box{
    margin-top: 25px;
    height: 100px;
    width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
    border: 2px solid rgb(187, 187, 187);
}